<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin | Blog Express</title>
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
    <%- include('partials/header') %>

    <div class="container">
      <h1>Editar Post</h1>

      <form
        action="/admin/update/<%= post.id %>"
        method="post"
        class="post-form"
      >
        <label for="title">Título: </label>
        <input type="text" name="title" id="title" value="<%= post.title %>" />

        <label for="content">Conteúdo: </label>
        <textarea name="content" id="content" rows="12">
<%= post.content %></textarea
        >

        <div class="btn-group">
          <button type="submit" class="btn-create">Salvar Alterações</button>
          <a href="/admin" class="btn-back">Voltar</a>
        </div>
      </form>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
l
