<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= post.title %> | Blog Express</title>
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="container">
      <h1><%= post.title %></h1>

      <div class="post-date">
        <span>Criado em : <%= post.createdAt.toLocaleDateString() %></span>
        <span>Atualizado em <%= post.updatedAt.toLocaleDateString() %></span>
      </div>

      <p class="post-content"><%= post.content%></p>

      <hr class="separator" />

      <a href="/" class="btn-back">Voltar para a página inicial</a>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
